
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("font/Roboto-Black.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box;/* Firefox, other Gecko */ box-sizing: border-box;/* Opera/IE 8+ */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    padding: 0px; margin: 0px; border-spacing: 0;
}

html {overflow-y: scroll; overflow-x: hidden; height: 100%;}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color: #f9f9f9;*/
    font-family: 'Roboto', sans-serif;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}

header {height: 3.4em; width: 100%; position: fixed; top: 0; left: 0; z-index: 9999; text-transform: uppercase; text-align: center; border-bottom-width: 0.2em; border-bottom-style: solid;}
header .app-logo-container img {height: 2.4em;}

#app {margin-top: 3.2em; position: relative;}

/* Font sizes */
body {font-size: 20px;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.25em;}
h3 {font-size: 1em;}
button {font-size: 1em; text-transform: uppercase;}
.hint {font-size: 0.85em;}

/* Font weight */
h1 {font-weight: 300;}
h2 {font-weight: 400;}
h3 {font-weight: 400;}
button {font-weight: 500;}

/* Spacing */
header {line-height: 2.4em;}
h1 {padding: .4em 0;}
h2 {padding: .4em 0;}
h3 {padding-bottom: .2em;}

/* Palette definition */
/* color: #7C7878 */
/* accent 1: #37BFA9*/
/* accent 2: #C03048*/
body {color: rgba(124,120,120,.87);}
.base {color: rgba(124,120,120,.87);}
.secondary {color: rgba(124,120,120,.54);}
.hint {color: rgba(124,120,120,.26);}
hr {background-color: rgba(124,120,120,.12);}

.primary-font {color: rgba(3, 169, 244, .87);}

.divider-border {border-color: rgba(124,120,120,.12);}
.gray-border {border-color: rgba(124,120,120,.54);}
.primary-border {border-color: #03a9f4;}
.divider-primary-border {border-color: rgba(3, 169, 244, .54);}

header {background-color: #FFF;}
.primary-background {background-color: #03a9f4; color: #FFFFFF;}
.acent-background {background-color: #8bc34a; color: #FFFFFF;}


/* Layout */
hr {border: none; height: 1px; margin: 1.5em 0;}
a {text-decoration: none;}

/* Layout control classes */
.padding-container-all {padding: .8em;}
.padding-all {padding: .4em;}
.padding-hr {padding-left: .4em; padding-right: .4em;}
.padding-vr {padding-top: .4em; padding-bottom: .4em;}

.margin-hr {margin-right: .4em;}
.margin-vr {margin-top: .4em;}

.left {float:left;}
.right {float:right;}

/* Components */
ul {list-style: none; padding: 0; margin-left: 0; margin-right: 0;}
ul li {padding: .8em 0; border-top-width: 1px; border-top-style: solid; overflow: hidden;}
ul li:last-child {border-top: none;}

.icon-button {display: block; height: 2.4em; width: 2.4em; border-radius: 1.2em;}
.icon-button.blink {-webkit-animation: blink 200ms linear 1 normal forwards running; animation: blink 200ms  forwards linear;}

.spinner {width:6.4em; height: 6.4em;  margin: 40% auto;}
.spinner svg #rolling {
    /*-webkit-animation-name: spin;
    -webkit-animation-duration: 600ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-transform-origin: 56px 56px;
    -moz-transform-origin: 56px 56px;
    transform-origin: 56px 56px;*/
}
.spinner svg #rolling #rail {
    stroke: #7C7878;
    stroke-opacity: 0.12;
}

.spinner svg #rolling #roller {
    stroke: #7C7878;
    stroke-opacity: 0.87;
}

.spinner svg #microagenda {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function:  ease-in-out;
    -webkit-animation-direction: reverse;

    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function:  ease-in-out;
    animation-direction: reverse;

    -webkit-transform-origin: 56px 56px;
    -moz-transform-origin: 56px 56px;
    transform-origin: 56px 56px;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes blink {
    from {background: rgba(55,191,169,.12); -webkit-transform: rotate(36deg); }
    to {background: transparent; -webkit-transform: rotate(0deg); }
}

/* Standard syntax */
@keyframes blink {
    from {background: transparent; transform: rotate(0deg); }
    to {background: rgba(55,191,169,.12); transform: rotate(36deg); }
}

/* Data types clasess */
.index {border-bottom-width: 2px; border-bottom-style: solid; border-top: none;}

.photo {width: 3.2em; border-radius: 1.6em;}
.phone {width: 1.6em;}