/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box;/* Firefox, other Gecko */ box-sizing: border-box;/* Opera/IE 8+ */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    padding: 0px; margin: 0px; border-spacing: 0;
}

html {overflow-y: scroll; overflow-x: hidden; height: 100%;}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color: #f9f9f9;*/
    font-family: 'Roboto', sans-serif;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}

header {height: 64px; width: 100%; position: fixed; top: 0; left: 0; z-index: 9999; box-shadow: 0 2px 4px rgba(0, 0, 0, .26);}
#app {margin-top: 64px; position: relative;}

/* Font sizes */
body {font-size: 20px;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.25em;}
h3 {font-size: 1em;}
button {font-size: 1em; text-transform: uppercase;}
.hint {font-size: 0.85em;}

/* Font weight */
h1 {font-weight: 300;}
h2 {font-weight: 400;}
h3 {font-weight: 400;}
button {font-weight: 500;}

/* Spacing */
h1 {padding: 16px 0;}
h2 {padding: 16px 0;}
h3 {padding-bottom: 4px;}

/* Palette definition */
body {color: rgba(0,0,0,.87);}
.base {color: rgba(0,0,0,.87);}
.secondary {color: rgba(0,0,0,.54);}
.hint {color: rgba(0,0,0,.26);}
hr {background-color: rgba(0,0,0,.12);}

.border-color {border-color: rgba(0,0,0,.12);}

.primary-background {background-color: #3f51b5; color: #FFF;}

/* Layout */

hr {border: none; height: 1px; margin: 1.5em 0;}

/* Layout control classes */
.padded-all {padding: 16px;}
.padded-hr {padding-left: 16px; padding-right: 16px;}
.padded-vr {padding-top: 16px; padding-bottom: 16px;}

.margin-hr {margin-right: 16px;}
.margin-vr {margin-top: 16px;}

/* Components */
ul {list-style: none; padding: 0; margin-left: 0; margin-right: 0;}
ul li {padding: 16px 0; border-top-width: 1px; border-top-style: solid;}