<?xml version='1.0' encoding='utf-8'?>
<widget id="com.microagenda.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>Microagenda</name>
    <description>
        Los datos de contacto de tus amigos siempre actualizados!
    </description>
    <author email="diego.martinez@cvgram.me" href="http://cordova.io">
        Diego Martinez
    </author>
    <content src="index.html" />
    <access origin="*" />


    <preference name="orientation" value="portrait" />
	
	<gap:plugin name="org.apache.cordova.contacts" version="0.2.11" />
</widget>
