div
	section#welcome.hidden
		.text-center
			h1 Bienvenido a Microagenda
			.first-inpage
				| La forma más fácil y rápida de tener a las personas qué más te importan, siempre en tu agenda de contactos!
			
			.hero-container.first-inpage
				img.hero(src='/img/icon.svg')

			hr
			.secondary 
				| Ahora primero lo primero. Tenemos varias cosas que configurar. Pero no te preocupes, es muy simple!
			.first-inpage
				button.primary-background.rounded-all.right(action='continue') Comenzar
				.clear

	section#signup.hidden
		.text-center
			h1 Crea tu cuenta
			.ui-form.margin-vr
				fieldset
					label.caption Email
					input(type='text', placeholder='ej: alguien@ejemplo.com', required='true', requiredError="Debes indicar la direcci\u00f3n de mail", validator='email', validatorError='El mail no es correcto', validateOnBlur='true', name='email', tabindex='1').gray-border.rounded-all.padding-hr.base
				fieldset
					label.caption Contraseña
					input(type='password', placeholder='establece una cotraseña', required='true', requiredError="Debes establecer una contraseña", validateOnBlur='true', name='password', tabindex='2').gray-border.rounded-all.padding-hr.base
				fieldset
					label.caption Contraseña otra vez
					input(type='password', placeholder='repite la contraseña por seguridad', required='true', requiredError="Debes repetir la contraseña ingresada", validateOnBlur='true', name='again', tabindex='3').gray-border.rounded-all.padding-hr.base

				.first-inpage
					button.primary-background.rounded-all.margin-auto(action='submit') Crear cuenta

	section#basic.hidden
		.text-center
			h1 Cuéntanos sobre ti
			.ui-form.margin-vr
				fieldset
					label.caption Tu nombre
					input(type='text', placeholder='escribe tu nombre aquí', required='true', requiredError="Debes indicar tu nombre", validateOnBlur='true', name='firstName', tabindex='1').gray-border.rounded-all.padding-hr.base
				fieldset
					label.caption Tu apellido
					input(type='text', placeholder='y aquí tu apellido', required='true', requiredError="Debes indicar tu apellido", validateOnBlur='true', name='lastName', tabindex='2').gray-border.rounded-all.padding-hr.base
				fieldset
					label.caption Número de teléfono
					input(type='text', placeholder='ej: +54 9 11 1234 4321', required='true', requiredError="Debes indicar tu número de teléfono", validateOnBlur='true', name='phone', tabindex='3').gray-border.rounded-all.padding-hr.base

				.first-inpage
					button.primary-background.rounded-all.margin-auto(action='submit') Guardar y continuar

	section#facebook-connect
		.text-center
			h1 Conecta Facebook
			.first-inpage
				| Te ayudará a encrontrar más rápido a la gente que quieras agregar a tu agenda!
			
			.hero-container.first-inpage
				img.hero(src='/img/wfriends.svg')

			hr
			.secondary 
				| Jamás publicaremos nada en tu perfil sin tu permiso, palabra!
			.first-inpage
				button.primary-background.rounded-all.margin-auto(action='connect') Conectar Facebook
				a.link-button.caption(action='continue') No gracias
				.clear

	section#with-friends.hidden
		.splash
			.text-center
				h1 Todo es mejor con amigos
				.first-inpage
					| La forma más fácil de completar tu agenda es invitando a tus amigos de Facebook!
				
				.hero-container.first-inpage
					img.hero(src='/img/wfriends.svg')

				hr
				.secondary 
					| Invítalos ahora para tener su número de teléfono siempre actualizado
				.first-inpage
					button.primary-background.rounded-all.right(action='continue') Continuar
					.clear
		.success


	section#accept-requests.hidden
		.splash
			.text-center
				h1 Personas desean agendarte
				.first-inpage
					| Algunos de tus amigos desean poder estar siempre en contacto contigo!
				
				.hero-container.first-inpage
					img.hero(src='/img/wfriends.svg')

				hr
				.secondary 
					| Te mostraremos la lista de solicitudes para tener tus datos de contacto que has recibido
				.first-inpage
					button.primary-background.rounded-all.right(action='continue') Ver solicitudes
					.clear

		.requests
			.text-center
				h1 Siempre en contacto
				.first-inpage
					p Estos son algunos de tus amigos que desean tener tu número siempre actualizado.
					p Para que tengan tu número, haz click en 
						img
				hr
					ul.contact-list

				.first-inpage
					button.primary-background.rounded-all.right(action='continue') Continuar
					.clear
