doctype html
html
	head
		meta(charset='utf-8')
		meta(property='fb:app_id', content='604043223046726')
		meta(property='og:type', content='website')
		meta(property='og:url', content='http://www.microagenda.com')
		meta(property='og:title', content='Tu agenda de contactos!')
		meta(property='og:image', content='http://www.microagenda.com/img/artwork/fb-city-sketch.png')
		meta(property='og:description', content='Los datos de las personas que más te importan, siempre a mano!') 
		meta(property='og:site_name', content='www.miroagenda.com')
		
		title Microagenda
		link(rel='stylesheet', type='text/css', href='/css/commons.css')
	body

		| Hola soquetes!

		script

			window.fbAsyncInit = function() {
				FB.init({
					appId      : '604043223046726',
					xfbml      : true,
					version    : 'v2.0'
				});

				FB.getLoginStatus(function(response) {
					if (response.status === 'connected') {
						console.log('Logged in.');
					}else {
						FB.login();
					}
				});
			};

			(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));